{% extends 'base.html' %}

{% block content %}
<h2>Categorías</h2>
<a href="{% url 'categoria-create' %}" class="btn btn-success mb-3">Nueva Categoría</a>
<ul class="list-group">
    {% for categoria in categorias %}
        <li class="list-group-item">
            {{ categoria.nombre }}
            <a href="{% url 'categoria-update' categoria.pk %}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'categoria-delete' categoria.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
