<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'producto-list' %}">
            <img src="{% static 'img/logo.png' %}" alt="Tienda Online" class="d-inline-block align-top">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-filter me-2"></i>Categorías
                    </a>
                    <ul class="dropdown-menu">
                        {% for categoria in categorias %}
                            <li>
                                <a class="dropdown-item" href="?categoria={{ categoria.slug }}">
                                    <i class="{{ categoria.icono }} me-2"></i>{{ categoria.nombre }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart-list' %}">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="badge bg-danger ms-1" id="cart-count">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>